    /*Primary */
    
    $colorOrange: hsl(26, 100%, 55%);
    $colorPaleorange: hsl(25, 100%, 94%);
    /*Neutral */
    
    $colorVeryvarkblue: hsl(220, 13%, 13%);
    $colorDarkgrayishblue: hsl(219, 9%, 45%);
    $colorGrayishblue: hsl(220, 14%, 75%);
    $colorLightgrayishblue: hsl(223, 64%, 98%);
    $colorWhite: hsl(0, 0%, 100%);
    $colorBlack: hsl(0, 0%, 0%);